{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wire-Cell Event Sets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/bee.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>
          Event List for Set {{set_id}}
        </h1>
      </div>

      <div class='span12'>
        <table class="table table-striped table-bordered table-hover" id="event-list-table">
          <thead>
            <th>Event No.</th>
            <th>DAQ ID</th>
            <th>Trigger</th>
            <th id="geom-head">Geometry</th>
            <th>Contents</th>
          </thead>
          {% for event in event_list %}
          <tr class='data-row'>
            <td>
              <a href="{% url 'event' set_id event.id %}">
              {{event.id}}
              </a>
            </td>
            <td>{{event.runNo}}-{{event.subRunNo}}-{{event.eventNo}}</td>
            <td>{{event.trigger}}</td>
            <td class="geom">{{event.geom}}</td>
            <td>
              {% for alg in event.content_list %}
                <a href="{% url 'data' set_id event.id alg%}">
                  {{alg}}
                </a> &nbsp;
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>


    <script type="text/javascript" src="{% static 'js/lib/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/picnet.table.filter.min.js' %}"></script>
    <script>
      $('#event-list-table').tableFilter();
      if ($(".geom:first").html() == 'protodune') {
        $("#geom-head").html("Beam Momentum");
        // protudune
        var momentumMap = {
          // '3936' : '2 GeV',
          '5145' : '7 GeV',
          '5387' : '1 GeV',
          '5432' : '2 GeV',
          '5770' : '6 GeV',
          '5786' : '3 GeV',
          '5826' : '0.5 GeV',
          '5834' : '0.3 GeV'
        };

        $(".data-row").each(function(){
          // console.log(this);
          var tds = $(this).find("td");
          var runNo = $(tds[1]).html().split('-')[0];
          var momentum = momentumMap[runNo] || 'N/A';
          $(tds[3]).html(momentum);
        });
      }
    </script>

  </body>

</html>