{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wire-Cell Event Sets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'css/bee.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>
          Wire-Cell Event Sets
          <small>To BEE, or ...</small>
        </h1>
      </div>

      <div class='row'>
        <div class='span9'>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <th>ID</th>
              <th>Event Type</th>
              <th># Events</th>
              <th>Energy</th>
              <th>Geometry</th>
              <th>Description</th>
              <th>Created at</th>
            </thead>
            {% for eventset in eventset_list %}
            <tr>
              <td>{{eventset.id}}</td>
              <td class="event_type"><a href="{% url 'event' eventset.id 0 %}">{{eventset.event_type}}</a></td>
              <td>{{eventset.num_events}}</td>
              <td>{{eventset.energy}}</td>
              <td>{{eventset.geometry}}</td>
              <td>{{eventset.desc}}</td>
              <td>{{eventset.created_at | date:"M d Y"}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class='span3'>
        <form action="{% url 'upload' %}" class="dropzone dz-clickable" id="dropzone" method="post" enctype="multipart/form-data">
          <div class="dz-message">Drop the file here or click to upload</div>
          {% csrf_token %}
        </form>
        </div>
      </div>

    </div>


    <script type="text/javascript" src="{% static 'js/lib/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/lib/dropzone.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
  </body>

</html>