/* app css stylesheet */
body {margin: 20px;}

/*h1 {font-family: 'Abril Fatface', sans-serif; color: #3b8378;}*/

a {color: #27ABE4; font-weight: bold;}
.event_type {color: #02ab2e; }
a.NA {color: #999; }
.size {}

